<!DOCTYPE html>
<html lang="en" xmlns:th="http://www.thymeleaf.org">
<head>
    <meta charset="UTF-8"/>
    <title>Bank account</title>
    <link rel="stylesheet" th:href="@{/static/style.css}"/>
    <style>
        table {
            font-family: arial, sans-serif;
            border-collapse: collapse;
            width: 80%;
            margin: auto;
        }

        td, th {
            border: 1px solid black;
            text-align: left;
            padding: 8px;
            text-align: center;
        }

        tr:nth-child(even) {
            background-color: #dddddd;
        }

        th {
            background-color: chocolate;
        }
    </style>
</head>
<body>
<div>
    <h1>Bank Account</h1>
</div>
<div>
    <table>
        <thead>
        <tr>
            <th>Index</th>
            <th>Name</th>
            <th>Balance</th>
            <th>AnimalType</th>
            <th>King</th>
            <th>Is A Good guy?</th>
            <th>Increase bank account</th>
        </tr>
        </thead>
        <tbody>
        <tr th:each="accounts : ${bank}">
            <td th:text="${accountsStat.count}"></td>
            <td th:text="${accounts.getName()}"></td>
            <td th:text="${accounts.getBalance()}"></td>
            <td th:text="${accounts.getAnimalType()}"></td>
            <div th:switch="${accounts.getIsKing()}">
                <td th:case="false" style="color: black" th:text="${accounts.isAKing()}"></td>
                <td th:case="true" style="color: dodgerblue; font-weight: bold" th:text="${accounts.isAKing()}"></td>
            </div>
            <td th:text="${accounts.isAGoodGuy()}"></td>
            <td>
                <form method="post" action="/increase">
                    <input type="submit" value="Increase">
                    <input type="hidden" th:value="${accountsStat.index}" name="index">
                </form>
            </td>
        </tr>
        </tbody>
    </table>
</div>
Add new Animal account: <br>
<form method="post" action="/newAccount">
    <input type="text" name="name" placeholder="add name"><br>
    <input type="number" name="balance" placeholder="add balance"><br>
    <input type="text" name="animalType" placeholder="add animaltype"><br>
    <select name="king">
        <option value=true>King</option>
        <option value=false>Food</option>
    </select><br>
    <select name="goodguy">
        <option value=true>Good guy</option>
        <option value=false>Bad guy</option>
    </select><br>
    <input type="submit" value="Add Account">
</form>
</body>
</html>

