<!DOCTYPE html>
<html lang="en" xmlns:th="http://www.w3.org/1999/xhtml">
<head>
    <meta charset="UTF-8"/>
    <title>Bank account</title>
</head>
<body>
<div>
    <h1>Bank Account</h1>
</div>
<div>
    <table>
        <thead>
        <tr>
            <th>Name</th>
            <th>Balance</th>
            <th>AnimalType</th>
        </tr>
        </thead>
        <tbody>
        <tr>
            <td th:text="*{name}"></td>
            <td th:text="*{balance}"></td>
            <td th:text="*{animalType}"></td>
        </tr>
        </tbody>
    </table>
</div>
</body>
</html>