<!DOCTYPE html>
<html lang="en" xmlns:th="http://www.thymeleaf.org">
<head>
    <meta charset="UTF-8">
    <title>Todo edit</title>
</head>
<body>
<form method="post">
    <h1>Edit todo: </h1><br>
    Edit description: <input type="text" name="name" required><br>
    Urgent: <input type="checkbox" name="urgent" value="true"><br>
            <input type="hidden" name="urgent" value="false">
    Done: <input type="checkbox" name="done" value="true">
            <input type="hidden" name="done" value="false"><br>
    <input type="submit" value="Update">
    <a href="/todo/list">Cancel</a>
</form>

</body>
</html>