<!DOCTYPE html>
<html lang="en" xmlns:th="http://www.thymeleaf.org">
<head>
    <meta charset="UTF-8" />
    <title>Todos</title>
    <link rel="stylesheet" th:href="@{/style.css}">
</head>
<body>
<h1 style="text-transform: uppercase">Todos for today: </h1>

<a href="/todo/add">Add new todo..</a><br>
<table>
    <thead>
    <tr>
        <th>ID</th>
        <th>ACTION</th>
        <th>DONE</th>
        <th>URGENT</th>
    </tr>
    </thead>
    <tbody>
    <tr th:each="todo : ${todos}">
        <td th:text="${todo.getId()}"></td>
        <td th:text="${todo.getTitle()}"></td>
        <td th:text="${todo.done()}"></td>
        <td th:text="${todo.isUrgent()}"></td>
        <td><a th:href="${todo.getId()} + '/delete'">delete</a></td>
    </tr>

    </tbody>


</table>

</body>
</html>