<!DOCTYPE html>
<html lang="en" xmlns:th="http://www.thymeleaf.org">
<html lang="en">
<head>
    <meta charset="UTF-8"/>
    <title>FOX TAMAGOCHI</title>


</head>
<body>
<ul>
    <li><a href="">Information</a></li>
    <li><a th:href="'/nutritionStore?name=' + ${name.getName()}">Nutrition Store</a></li>
    <li><a href="Trick Center">Trick Center</a></li>
    <li><a href="Action History">Action History</a></li>

</ul>

<img src="greenfox.png">

<p th:text="'This is ' + ${name.getName()} +  '. Currently living on ' + ${name.getFood()} + ' and ' + ${name.getDrink()} + ' . He knows ' + ${name.getNumberOfTricks()} + ' tricks.'"></p>

<h1>Known Tricks</h1>
<div th:if="${name.knowsTricks()}">
    <ul th:each="tricks : ${name.getListOfTricks()}">
        <li th:text="${tricks}"></li>
    </ul>

</div>
<div th:unless="${name.getNumberOfTricks()}">
    <div>You dont know any tricks, go and learn some!!!</div>
</div>

</body>
</html>