<!DOCTYPE html>
<html lang="en" xmlns:th="http://www.thymeleaf.org">
<html lang="en">
<head>
    <meta charset="UTF-8"/>
    <title>FOX TAMAGOCHI</title>

</head>
<body>
<ul style="list-style-type: disc">
    <li><a href="dontknowyet">Information</a> </li>
</ul>

<img src="greenfox.png">

<p th:text="'This is ' + ${name} +  '. Currently living on ' + ${food} + ' and ' + ${drink} + ' . He knows ' + ${trick} + ' two tricks.'"></p>

<h1>Known Tricks</h1>
<ul th:each="tricks : ${trickname}">
    <li th:text="${tricks}"></li>
</ul>
</ul>
</body>
</html>