<!DOCTYPE html>
<html lang="en" xmlns:th="http://www.thymeleaf.org">
<html lang="en">
<head>
    <meta charset="UTF-8"/>
    <title>FOX TAMAGOCHI</title>
    <style>
        html {
            background-color: darkgreen;
        }
        body {
            text-align: center;
            font-size: larger;
        }

    </style>

</head>
<body>
<ul style="list-style-type: disc">
    <li><a href="dontknowyet">Information</a> </li>
</ul>

<img src="greenfox.png">

<p th:text="'This is ' + ${name} +  '. Currently living on ' + ${food} + ' and ' + ${drink} + ' . He knows ' + ${trick} + ' tricks.'"></p>

<h1>Known Tricks</h1>
<div th:if="${knowstricks}">
    <ul th:each="tricks : ${trickname}">
        <li th:text="${tricks}"></li>
    </ul>

</div>
<div th:unless="${knowstricks}">
    <div>You dont know any tricks, go and learn some!!!</div>
</div>

</body>
</html>