<!DOCTYPE html>
<html lang="en" xmlns:th="http://www.thymeleaf.org">
<html lang="en">
<head>
    <meta charset="UTF-8"/>
    <title>LOGIN FOX TAMAGOCHI</title>
    <style>
        html {
            text-align: center;
            padding: auto;
        }
        form {
            font-family: Helvetica;
            font-size: 20px;
        }
        input {
            font-size: 20px;
        }

        p {
            font-size: 25px;
        }

    </style>


</head>
<body>
<h1>Welcome to the Programmer Fox Club!</h1>

<p>Please provide a name, so you can associate it to your pet!</p>
<form action="/login/" method="post">>
    Name:
    <input type="text" name="name">
    <input type="submit" value="GO">
</form>

</body>
</html>