<!DOCTYPE html>
<html lang="en" xmlns:th="http://www.thymeleaf.org">
<head>
    <meta charset="UTF-8" />
    <title>Title</title>
</head>
<body>
<ul>
    <li><a href="information">information</a></li>
    <li><a href="NutritionStore">Nutrition Store</a></li>
    <li><a href="Trick Center">Trick Center</a></li>
    <li><a href="Action History">Action History</a></li>
</ul>

<div>
    Food
    <select name="Food">
        Food
        <option value="bronx">Bronx</option>
    </select>
    Drink
    <select name="Drink">
        <option value="bronx">Bronx</option>
    </select>
    <input type="submit" value="Change">
</div>


</body>
</html>