<!DOCTYPE html>
<html lang="en" xmlns:th="http://www.thymeleaf.org">
<head>
    <meta charset="UTF-8" />
    <title>NutritionStore</title>
</head>
<body>
<h1 th:text="${name.getName()} + '\'s nutrition Store'"></h1>
<ul>
    <li><a href="">Information</a></li>
    <li><a th:href="'/nutritionStore?name=' + ${name.getName()}">Nutrition Store</a></li>
    <li><a href="Trick Center">Trick Center</a></li>
    <li><a href="Action History">Action History</a></li>
</ul>
<p th:text="'This fox is called ' + ${name.getName()}"></p>
<div>
    <form method="POST">
        Food
        <select name="food">
            <option value="Rabbit">Rabbit</option>
            <option value="Deer">Deer</option>
            <option value="Monkey">Monkey</option>
        </select>
        Drink
        <select name="drink">
            <option value="Beer">Beer</option>
            <option value="Water">Water</option>
            <option value="Coke">Coke</option>
        </select>
        <button type="submit">CHANGE</button>
    </form>

</div>


</body>
</html>