<!DOCTYPE html>
<html lang="en" xmlns:th="http://www.thymeleaf.org">
<head>
    <meta charset="UTF-8"/>
    <title>Reddit Clone</title>
    <link href="/webjars/bootstrap/3.3.7-1/css/bootstrap.min.css" rel="stylesheet"/>
    <link href="/webjars/bootstrap/3.3.7-1/css/bootstrap-theme.min.css" rel="stylesheet"/>
    <style>
        body {
            background-color: ghostwhite;
        }
    </style>
</head>
<body>

<div align="center" class="container">

    <h1>Trending posts</h1><br><br>

    <table class="table table-hover">
        <a href="/newpost" class="btn btn-primary">Submit new post</a><br>
        <thead>
        <tr>
            <br>
            <th>ID</th>
            <th>VOTES</th>
            <th>VOTE UP</th>
            <th>VOTE DOWN</th>
            <th>TITLE</th>
            <th>CREATION DATE</th>
            <th>DELETE</th>
        </tr>

        </thead>
        <tbody>
        <tr th:each="post : ${allposts}" th:object="${post}">
            <td th:text="*{id}"></td>
            <td style="font-size: larger; font-weight: bolder" th:text="*{votes}"></td>
            <td>
                <a th:href="@{'/upvote/' + *{id}}" th:method="post"><span class="glyphicon glyphicon-plus"
                                                                          style="color: green"></span></a>
            </td>
            <td>
                <a th:href="@{'/downvote/' + *{id}}" th:method="post"><span class="glyphicon glyphicon-minus"
                                                                            style="color: red"></span></a>
            </td>
            <td><a th:target="blank" th:href="*{url}"><span th:text="*{title}" style="font-size: larger; font-weight: bolder"></span></a></td>
            <td th:text="*{date}"><</td>
            <td><a th:href="'/delete/' + *{id} " class="btn btn-danger" role="button">delete</a></td>



        </tr>

        </tbody>

    </table>
</div>


<script src="webjars/jquery/1.11.1/jquery.min.js"></script>
<script src="webjars/bootstrap/3.3.7-1/js/bootstrap.min.js"></script>
</body>
</html>